@import "tailwindcss";

@theme {
  --color-primary: #129990;
  --color-primary-dark: #096b68;
  --color-secondary: #fffbde;
  --color-secondary-dark: #90d1ca;
  --color-white: #fafafa;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
