NODE_ENV= "your-node-environment" #"development or production"
PORT=your-backend-port
CORS_ORIGIN=your-frontend-url
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/prms?retryWrites=true&w=majority&appName=Cluster0
MAIL_USER=your-smtp-server
MAIL_PASS=your-smtp-server-password
SUPER_ADMIN_EMAIL=your-admin@email.com
SENDER_EMAIL=email-to-sender
SUPER_ADMIN_PASSWORD=your-password-here
JWT_SECRET=your-secret-key